<header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/select-event">Wybierz wydarzenie</a>
        </li>
      </ul>
    </nav>
</header>